
bin/Debug/DualSenseAT.exe
bin/Debug/DualSenseAT.exe.config
bin/Debug/DualSenseAT.pdb
bin/Debug/Memory.dll
bin/Debug/Memory.xml
.vs/DualSenseAT/v16/.suo
obj/Debug/DualSenseAT.csproj.CopyComplete
obj/Debug/DualSenseAT.csproj.CoreCompileInputs.cache
obj/Debug/DualSenseAT.csproj.FileListAbsolute.txt
obj/Debug/DualSenseAT.csproj.GenerateResource.cache
obj/Debug/DualSenseAT.exe
obj/Debug/DualSenseAT.Form1.resources
obj/Debug/DualSenseAT.pdb
obj/Debug/DualSenseAT.Properties.Resources.resources
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DualSenseAT.csproj.AssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/DualSenseAT/v17/.suo
