
bin/Debug/DualSenseAT.exe
bin/Debug/DualSenseAT.exe.config
bin/Debug/DualSenseAT.pdb
bin/Debug/Memory.dll
bin/Debug/Memory.xml
.vs/DualSenseAT/v16/.suo
obj/Debug/DualSenseAT.csproj.CopyComplete
obj/Debug/DualSenseAT.csproj.CoreCompileInputs.cache
obj/Debug/DualSenseAT.csproj.FileListAbsolute.txt
obj/Debug/DualSenseAT.csproj.GenerateResource.cache
obj/Debug/DualSenseAT.exe
obj/Debug/DualSenseAT.Form1.resources
obj/Debug/DualSenseAT.pdb
obj/Debug/DualSenseAT.Properties.Resources.resources
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DualSenseAT.csproj.AssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/DualSenseAT/v17/.suo
*.cache
obj/Debug/DualSenseAT.MainWindow.resources
bin/Debug/MetroFramework.Fonts.dll
bin/Debug/MetroFramework.Design.dll
bin/Debug/MetroFramework.dll
bin/Debug/Ets2SdkClient.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Newtonsoft.Json.dll
*.resources
bin/Debug/H.MaterialSkin.xml
bin/Debug/H.MaterialSkin.dll
bin/Debug/CustomControlUsingPalettes.pdb
bin/Debug/CustomControlUsingPalettes.exe.config
bin/Debug/CustomControlUsingPalettes.exe
bin/Debug/ComponentFactory.Krypton.Workspace.pdb
bin/Debug/ComponentFactory.Krypton.Workspace.dll
bin/Debug/ComponentFactory.Krypton.Toolkit.pdb
bin/Debug/ComponentFactory.Krypton.Toolkit.dll
bin/Debug/ComponentFactory.Krypton.Ribbon.pdb
bin/Debug/ComponentFactory.Krypton.Ribbon.dll
bin/Debug/ComponentFactory.Krypton.Navigator.pdb
bin/Debug/ComponentFactory.Krypton.Navigator.dll
bin/Debug/ComponentFactory.Krypton.Docking.pdb
bin/Debug/ComponentFactory.Krypton.Docking.dll
bin/Debug/ComponentFactory.Krypton.Design.pdb
bin/Debug/ComponentFactory.Krypton.Design.dll
bin/Debug/AdvancedPageDragAndDrop.pdb
bin/Debug/AdvancedPageDragAndDrop.exe.config
bin/Debug/AdvancedPageDragAndDrop.exe
obj/Debug/uc/UserControl1.g.i.cs
obj/Debug/uc/UserControl1.g.cs
obj/Debug/uc/UserControl1.baml
obj/Debug/DualSenseAT_MarkupCompile.lref
obj/Debug/DualSenseAT_Content.g.i.cs
obj/Debug/DualSenseAT_Content.g.cs
bin/Debug/temp/Localizations.zip
